
/*Colors*/
$primaryColor: #416aa6;
$secondryColor: #4890DE;
$greyTextColor: #707070;
$darkGreyTextColor:#222222;
$language:ar;

/*Break Points*/
$bp-small: 24em;
$bp-med: 48em;
$bp-large: 62em;
$bp-xl: 75em;
$bp-xxl: 90em;


